:root {
    --link-1-line: #3DAE2B;
    --link-2-line: #00A0DF;
    --link-3-line: #ED40A9;
    --link-4-line: #B14FC5;
    --link-t-line: #F38B00;
    --stride-line: #EBA900;
    --sounder-line: #9AB6D3;
    --wave-blue: #002E6D;
    --wave-green: #006852;
    --wave-teal: #0091B3;
    --dark-teal: #007297;
    --beige: #F5F5F5;
    --black: #000000;
}